
<div style="width: 40%; margin-left: 30%">
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input placeholder="input search text"  [(ngModel)]="searchtext" (ngModelChange)="searchText()" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch (click)="searchText()">Search</button>
  </ng-template>
</div>
<div class="table-operations" style="margin-top: 20px">
  <button nz-button nzType="default" nzSize="default" (click)="showModal2()">&nbsp;Add&nbsp;</button>
</div>
<nz-table #basicTable [nzData]="showSecurities">
  <thead>
  <tr>
    <th>Security Name</th>
    <th
      nzShowFilter
      [nzFilters]="listOfType"
      (nzFilterChange)="filter($event, searchAddress)"
    >Security Type</th>
    <th
      nzShowSort [(nzSort)]="mapOfSort.price" (nzSortChange)="sort('todayPrice', $event)"
    >Price</th>
    <!--<th>Update Date</th>-->
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>
      {{ data.securityName }}
    </td>
    <td>
      {{ data.securityType }}
    </td>
    <td nz-popover [nzTitle]="titleTemplate" [nzContent]="contentTemplate" (click)="selectS(data)">
      <ng-container *ngIf="!editCache[data.securityId].edit; else passwordInputTpl">
        {{ data.todayPrice }}
      </ng-container>
      <ng-template #passwordInputTpl>
        <input type="number" nz-input [(ngModel)]="editCache[data.securityId].data.todayPrice" />
      </ng-template>
    </td>

    <!--<td>
      {{ (data.today !== null? data.today: data.lastDay) | date }}
    </td>-->

    <td>
      <ng-container *ngIf="!editCache[data.securityId].edit; else saveTpl">
        <a (click)="startEdit(data.securityId)">Edit</a>
      </ng-container>
      <ng-template #saveTpl>
        <a (click)="saveEdit(data.securityId)">Save</a>&nbsp;
        <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.securityId)">Cancel</a>
      </ng-template>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="showModal3(data.securityId)">Upload</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Security" (nzOnCancel)="handleCancel()">
  <div>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Security Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input formControlName="securityName" [(ngModel)]="addSecurityName" placeholder="username" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your security name!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Security Type</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [ngModel]="'equity'" nz-input formControlName="type" [(ngModel)]="addSecurityType" >
            <nz-option [nzLabel]="'equity'" [nzValue]="'equity'"></nz-option>
            <nz-option [nzLabel]="'fx'" [nzValue]="'fx'"></nz-option>
            <nz-option [nzLabel]="'future'" [nzValue]="'future'"></nz-option>
            <nz-option [nzLabel]="'index'" [nzValue]="'index'"></nz-option>
            <nz-option [nzLabel]="'commodity'" [nzValue]="'commodity'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Submit</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisible1" nzTitle="Upload File" (nzOnCancel)="handleCancel()">
  <div>
    <nz-upload
      nzType="drag"
      [nzMultiple]="true"
      [(nzFileList)]="fileList"
      [nzLimit]="1"
      [nzBeforeUpload]="beforeUpload"
    >
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
      </p>
    </nz-upload>
    <input style="width: 45%; margin-top: 15px;" nz-input placeholder="securityDate field" [(ngModel)]="securityDateFeild" />
    <input style="width: 45%; margin-top: 15px; margin-left: 10%" nz-input placeholder="securityPrice field" [(ngModel)]="securityValueFeild" />

  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="isConfirmLoading"
            [nzLoading]="uploading"
            (click)="handleUpload()"
            [disabled]="fileList.length == 0 || !securityDateFeild || !securityValueFeild">Submit</button>
  </div>
</nz-modal>
<button nz-button nz-popover [nzTitle]="titleTemplate" [nzContent]="contentTemplate">
  Render Template
</button>
<ng-template #titleTemplate>{{select.securityName==null? 'Security': select.securityName}}</ng-template>
<ng-template #contentTemplate>
  <app-security-chart></app-security-chart>
</ng-template>
