
<div style="width: 40%; margin-left: 30%">
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input placeholder="input search text"  [(ngModel)]="searchtext" (ngModelChange)="searchText()"  />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch (click)="searchText()">Search</button>
  </ng-template>
</div>

<nz-table #basicTable [nzData]="showSecurities">
  <thead>
  <tr>
    <th>Security Name</th>
    <th
      nzShowFilter
      [nzFilters]="listOfType"
      (nzFilterChange)="filter($event, searchAddress)"
    >Security Type</th>
    <th
      nzShowSort
      nzSortKey="price"
    >Price</th>
    <th>Date</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>
      {{ data.securityName }}
    </td>
    <td>
      {{ data.securityType }}
    </td>
    <td>
      {{ data.todayPrice? data.todayPrice: data.lastPrice }}
    </td>

    <td>
      {{ (data.today !== null? data.today: data.lastDay) | date: 'yyyy-MM-dd'  }}
    </td>

    <td>
      <a (click)="showModal2(data.securityId)">Add</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add to Portfolio" (nzOnCancel)="handleCancel()">
  <div>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Security Type</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select [(ngModel)]="equity" nz-input formControlName="portfolio">
            <nz-option [nzLabel]="portfolio.portfolioName" [nzValue]="portfolio.portfolioName" *ngFor="let portfolio of portfolios"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Count</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input type="number" nz-input formControlName="count" [(ngModel)]="count" placeholder="10" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="addPosion()" [nzLoading]="isConfirmLoading">Submit</button>
  </div>
</nz-modal>
