<nz-layout>
  <nz-header style="background-color: #1890ff;">
    <div class="float-l title">
      <p class="tps_title">Portfolio Management System</p>
    </div>
  </nz-header>
  <nz-layout>
    <nz-layout class="inner-layout">
      <nz-content>
        <div class="app">
          <div class="loginView">
            <div class="login_box">
              <div class="login_l_img"><img src="../../assets/IMG/login-img.png"/></div>
              <div class="login">
                <div class="login_logo"><img src="../../assets/IMG/login_logo.png"/></div>
                <div style="margin-top: 20px;">
                  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group nzPrefixIcon="user">
                          <input type="text" nz-input formControlName="userName" placeholder="Username" [(ngModel)]="username"/>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-input-group nzPrefixIcon="lock">
                          <input type="password" nz-input formControlName="password" placeholder="Password" [(ngModel)]="password"/>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control>
                        <label [(ngModel)]="checked" nz-checkbox formControlName="remember">
                          <span>Remember me</span>
                        </label>
                        <button nz-button class="login-form-button" [nzType]="'primary'" (click)="signIn()">Log in</button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>



<!--
<div class="main-content">

  &lt;!&ndash; main content start&ndash;&gt;
  <div class="page-wrapper" style="margin-top: 100px">
    <div class="main-page login-page ">
      <h3 class="title1">SignIn Page</h3>
      <div class="widget-shadow">
        <div class="login-top">
          <h4>Welcome back to Portfolio Manager ! </h4>
        </div>
        <div class="login-body">
            <input type="text" [(ngModel)]="username" class="user" placeholder="Enter your username">
            <input type="password" [(ngModel)]="password" class="lock" placeholder="password">
            <input type="submit" [disabled]="!username||!password" value="Sign In" (click)="signIn()">
            <div class="forgot-grid">
              <label class="checkbox"><input type="checkbox" name="checkbox" [(ngModel)]="checked"><i></i>Remember me</label>
              <div class="clearfix"> </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
-->
