
<div style="width: 40%; margin-left: 30%">
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchtext"  (ngModelChange)="searchText()" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch (click)="searchText()">Search</button>
  </ng-template>
</div>
<nz-table #filterTable [nzData]="showPortfolios" style="margin-top: 20px;">
  <thead>
  <tr>
    <th>
      Portfolio Name
    </th>
    <th>Manager</th>
    <th>Date</th>
    <th
      nzShowSort [(nzSort)]="mapOfSort.rateDay" (nzSortChange)="sort('rateDay', $event)"
    >Daily Change</th>
    <th
      nzShowSort [(nzSort)]="mapOfSort.rateTotal" (nzSortChange)="sort('rateTotal', $event)"
    >Performance</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filterTable.data">
    <td class="portfolio-name" (click)="goDeatil(data)">{{ data.portfolioName }}</td>
    <td>{{ data.userName }}</td>
    <td>{{ data.updateTime | date: 'yyyy-MM-dd' }}</td>
    <td [ngClass]="{'color-red': data.rateDay>0, 'color-green': data.rateDay<0}">{{ data.rateDay | percent:'1.2-3' }}</td>
    <td [ngClass]="{'color-red': data.rateTotal>0, 'color-green': data.rateTotal<0}">{{ data.rateTotal | percent:'1.2-3' }}</td>
    <td>
      <a (click)="goDeatil(data)">Detail</a>
    </td>
  </tr>
  </tbody>
</nz-table>
