<nz-layout>
  <nz-header style="background-color: #1890ff;">
    <div class="float-l title">
      <p class="tps_title">Portfolio Administrator</p>
    </div>
    <div class="float-l user">
      <p class="username">{{username}}
      </p>
    </div>
    <div class="float-l user">
      <a class="username" nz-popconfirm nzTitle="Are you sure?" (nzOnConfirm)="logout()">Logout</a>
      <ng-template #iconTpl>
        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
      </ng-template>
    </div>
    <!--<div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>-->
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nz-tooltip nzSelected (click)="select(1)" >
          <i nz-icon nzType="user"></i>
          <span>Fund Manager</span>
        </li>
        <li nz-menu-item nz-tooltip (click)="select(2)" >
          <i nz-icon nzType="laptop"></i>
          <span>Security</span>
        </li>
        <li nz-menu-item nz-tooltip (click)="select(3)" >
          <i nz-icon nzType="notification"></i>
          <span>Portfolio</span>
        </li>
        <!--<li nz-submenu nzTitle="subnav 3" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>-->
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>&nbsp;</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
