<div id="mountNode"></div>
<div id="c1" ></div>
<p style="font-size: 20px; font-weight: bold;">Portfolio:{{portfolio.portfolioName}}</p>
<nz-table #basicTable [nzData]="showPositions">
  <thead>
  <tr>
    <th>Security Name</th>
    <th
      nzShowFilter
      [nzFilters]="listOfType"
      (nzFilterChange)="filter($event, searchAddress)"
    >Security Type</th>
    <th>Quantity</th>
    <th nzShowSort [(nzSort)]="mapOfSort.price" (nzSortChange)="sort('price', $event)"
    >Price</th>
    <th  nzShowSort [(nzSort)]="mapOfSort.price" (nzSortChange)="sort('rateTotal', $event)"
    >Rating</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>
      {{ data.securityName }}
    </td>
    <td>
      {{ data.securityType }}
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.positionId].edit; else phoneInputTpl">
        {{ data.quantity }}
      </ng-container>
      <ng-template #phoneInputTpl>
        <input type="number" nz-input [(ngModel)]="editCache[data.positionId].data.quantity" />
      </ng-template>
    </td>
    <td>
      {{ data.price }}
    </td>
    <td [ngClass]="{'color-red': data.rateTotal>0, 'color-green': data.rateTotal<0}">
      {{data.rateTotal | percent:'1.2-3'}}
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.positionId].edit; else saveTpl">
        <a (click)="startEdit(data.positionId)">Edit</a>
      </ng-container>
      <ng-template #saveTpl>
        <a (click)="saveEdit(data.positionId)">Save</a>&nbsp;
        <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.positionId)">Cancel</a>
      </ng-template>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="deletePosition(data.positionId)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
