
<div style="width: 40%; margin-left: 30%">
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input placeholder="input search text"  [(ngModel)]="searchtext" (ngModelChange)="searchText()" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch (click)="searchText()">Search</button>
  </ng-template>
</div>
<div style="margin-right: 20px; width: 100px; margin-top: 20px">
  <button nz-button nzType="default" nzSize="default" (click)="showModal2()">&nbsp;Add&nbsp;</button>
</div>
<nz-table #basicTable [nzData]="showPortfolios">
  <thead>
  <tr>
    <th>Portfolio Name</th>
    <th>Create</th>
    <th>Update</th>
    <th
      nzShowSort [(nzSort)]="mapOfSort.rateDay" (nzSortChange)="sort('rateDay', $event)"
    >Rating Lastday</th>
    <th
      nzShowSort [(nzSort)]="mapOfSort.rateTotal" (nzSortChange)="sort('rateTotal', $event)"
    >Rating Total</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td class="portfolio-name" (click)="goDeatil(data)">{{ data.portfolioName }}</td>
    <td>{{ data.createTime | date }}</td>
    <td>{{ data.updateTime | date }}</td>
    <td [ngClass]="{'color-red': data.rateDay>0, 'color-green': data.rateDay<0}">{{ data.rateDay | percent:'1.2-3' }}</td>
    <td [ngClass]="{'color-red': data.rateTotal>0, 'color-green': data.rateTotal<0}">{{ data.rateTotal | percent:'1.2-3' }}</td>
    <td>
      <a (click)="deletePortfolio(data.portfolioId)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Fund Manager" (nzOnCancel)="handleCancel()">
  <div>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Portfolio Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="portfolioName" [(ngModel)]="portfolioName" placeholder="username" />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your username!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="isConfirmLoading" (click)="addPortfolio()">Submit</button>
  </div>
</nz-modal>
