<p style="font-size: 20px; font-weight: bold;">Portfolio:{{portfolio.portfolioName}}
  <nz-divider nzType="vertical"></nz-divider>
  Performance:<span
    [ngClass]="{'color-red': portfolio.rateTotal>0, 'color-green': portfolio.rateTotal<0}">
    {{portfolio.rateTotal | percent:'1.2-3'}}</span>
</p>
<!--<div echarts [options]="chartOption" class="line" style="width: 100%; height: 300px; padding-bottom: 10px;background-color: #F0F2F5"></div>-->
<div style="width: 100%; height: 40px;background-color: #F0F2F5">
  <nz-select nz-input [(ngModel)]="dateType" (ngModelChange)="fetchData()" style="float: right; width: 100px;">
    <nz-option [nzLabel]="'day'" [nzValue]=0></nz-option>
    <nz-option [nzLabel]="'week'" [nzValue]=1></nz-option>
    <nz-option [nzLabel]="'month'" [nzValue]="2"></nz-option>
    <nz-option [nzLabel]="'season'" [nzValue]=3></nz-option>
    <nz-option [nzLabel]="'year'" [nzValue]=4></nz-option>
    <nz-option [nzLabel]="'all time'" [nzValue]=5></nz-option>
  </nz-select>
</div>
<div id="lineContainer" style="height: 200px; width: 100%; background-color: #F0F2F5"></div>

<div style="width: 49%; height: 200px; float: left; margin-top: 10px; background-color: #F0F2F5">
  <div id="pieContainer" style="height: 200px; width: 100%"></div>
</div>
<div style="width: 49%; height: 200px; float: left; margin-top: 10px; background-color: #F0F2F5; margin-left: 2%; margin-bottom: 10px;">
  <div id="barContainer" style="height: 200px; width: 100%;"></div>
</div>
<nz-table #basicTable [nzData]="showPositions" style="margin-top: 10px;">
  <thead>
  <tr>
    <th>Security Name</th>
    <th
      nzShowFilter
      [nzFilters]="listOfType"
      (nzFilterChange)="filter($event, searchAddress)"
    >Security Type</th>
    <th>Quantity</th>
    <th nzShowSort [(nzSort)]="mapOfSort.price" (nzSortChange)="sort('price', $event)"
    >Price</th>
    <th  nzShowSort [(nzSort)]="mapOfSort.price" (nzSortChange)="sort('rateTotal', $event)"
    >Performance</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td >
      {{ data.securityName }}
    </td>
    <td>
      {{ data.securityType }}
    </td>
    <td>
        {{ data.quantity }}
    </td>
    <td>
      {{ data.price }}
    </td>
    <td [ngClass]="{'color-red': data.rateTotal>0, 'color-green': data.rateTotal<0}">
      {{data.rateTotal | percent:'1.2-3'}}
    </td>
    <td>
      <a  (click)="showModal4(data)" nz-popover [nzContent]="contentTemplate">Chart</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #contentTemplate>
  <div echarts [options]="chartOption2" class="line" style="height: 450px; width: 700px;"></div>
</ng-template>
