
<p style="font-size: 18px; font-weight: bold;">
  Portfolio:{{portfolio.portfolioName}}
  <nz-divider nzType="vertical"></nz-divider>
  Manager:{{portfolio.userName}}
  <nz-divider nzType="vertical"></nz-divider>Performance:
  <span  [ngClass]="{'color-red': portfolio.rateTotal>0, 'color-green': portfolio.rateTotal<0}">
    {{portfolio.rateTotal | percent:'1.2-3'}}</span>
</p>

<div echarts [options]="chartOption" class="line" style="width: 100%; height: 300px; padding-bottom: 10px;background-color: #F0F2F5"></div>
<div style="width: 100%; height: 20px;background-color: #FFF"></div>
<div style="width: 50%; height: 200px; float: left; background-color: #F0F2F5"></div>
<div style="width: 50%; height: 200px; float: left; background-color: #F0F2F5"></div>

<nz-table #basicTable [nzData]="showPositions">
  <thead>
  <tr>
    <th>Security Name</th>
    <th
      nzShowFilter
      [nzFilters]="listOfType"
      (nzFilterChange)="filter($event, searchAddress)"
    >Security Type</th>
    <th>Quantity</th>
    <th nzShowSort [(nzSort)]="mapOfSort.price" (nzSortChange)="sort('price', $event)"
    >Price</th>
    <th  nzShowSort [(nzSort)]="mapOfSort.price" (nzSortChange)="sort('rateTotal', $event)"
    >Performance</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>
      {{ data.securityName }}
    </td>
    <td>
      {{ data.securityType }}
    </td>
    <td>
        {{ data.quantity }}
    </td>
    <td>
      {{ data.price }}
    </td>
    <td [ngClass]="{'color-red': data.rateTotal>0, 'color-green': data.rateTotal<0}">
      {{data.rateTotal | percent:'1.2-3'}}
    </td>
  </tr>
  </tbody>
</nz-table>
